.footer {
    margin: 0px;
    padding: 0px;

    p {
        font-size: 16px;
        font-weight: 500px;
        color: rgb(121, 118, 118);
    }



    .title {
        font-size: 20px;
        color: rgb(32, 29, 29);
        font-weight: 500;
    }
}