.header {
    .ntext {
        margin-left: 20px;
        color: rgb(70, 68, 68);
        font-weight: 500;

    }

    .dn {
        border: 1px solid black;
        margin-left: 20px;
    }

    // .nav-head {
    //     .title {
    //         margin-top: -440px;
    //         position: absolute;
    //         right: 400px;

    //         .first {
    //             color: rgb(235, 229, 229);
    //             font-size: 66px;
    //             font-weight: 500;
    //         }

    //         .second {
    //             width: 300px;
    //             size: 30px;
    //             left: 150px;
    //             position: relative;
    //             color: white;
    //         }

    //         .three {
    //             color: white;
    //             font-size: 23px;
    //             font-weight: 500;
    //             position: relative;
    //             right: 100px;

    //             span {
    //                 color: #5fcf86;
    //             }
    //         }
    //     }

    //     .nav-pill {
    //         height: 100px;
    //         bottom: 100px;
    //         position: relative;
    //         margin-left: 310px;

    //         .nav-pill-c {
    //             height: 160px;
    //             width: 240px;
    //             text-align: center;
    //             font-size: 22px;
    //             text-decoration: none;
    //             font-weight: 500;
    //             box-shadow: 1px 2px 2px 1px #f4f5f4;
    //             background-color: #dfdede;

    //             .nav-link.active {
    //                 background-color: #5fcf86;
    //                 box-shadow: 1px 2px 2px 2px #5fcf86;
    //                 border-radius: 10px;
    //             }
    //         }
    //     }

    // }

    .mySwiper1 {
        .swiper-slide {
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: -12px;
        }

        .swiper-slide img {
            display: block;
            width: 105%;
            height: 75%;
            border-radius: 24px 24px;
        }


    }

}

.form {
    height: 360px;

    .dn {
        background-color: #5fcf86;
        color: white;
        font-weight: 500;
        width: 465px;
        color: rgb(231, 231, 229);
        font-size: 15px;
    }

    .equal {
        margin-left: 50px;

        .fb {
            border-radius: 10px;
            border: 1px solid #5fcf86;
            padding: 7px;
            padding-left: 40px;
            text-align: center;
            padding-right: 40px;
            font-weight: 500;

        }

        .gg {
            margin-left: 20px;
            border-radius: 10px;
            border: 1px solid #5fcf86;
            padding: 7px;
            padding-left: 50px;
            text-align: center;
            padding-right: 50px;
            font-weight: 500;
        }
    }
}

.form2 {
    .dk {
        background-color: #5fcf86;
        color: white;
        font-weight: 500;
        width: 465px;
        height: 50px;
        text-align: center;
        padding-top: 15px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .equal {
        margin-left: 50px;

        .fb {
            border-radius: 10px;
            border: 1px solid #5fcf86;
            padding: 7px;
            padding-left: 40px;
            text-align: center;
            padding-right: 40px;
            font-weight: 500;

        }

        .gg {
            margin-left: 20px;
            border-radius: 10px;
            border: 1px solid #5fcf86;
            padding: 7px;
            padding-left: 50px;
            text-align: center;
            padding-right: 50px;
            font-weight: 500;
        }
    }
}