.account {
    height: 2400px;


    .infor {
        background-color: white;
        border-radius: 20px;
        padding-left: 20px;
        padding-top: 20px;
        height: 380px;

        .title {
            display: flex;

            i {
                padding-left: 10px;
            }
        }

        .marks {
            display: flex;
            font-size: 18px;
            box-sizing: border-box;
            border-radius: 12px;
            width: 120px;
            height: 50px;
            padding: 10px;
            border: 1px solid rgb(223, 221, 221);
            margin-left: 30px;
        }

        .icon {
            display: flex;
            border: 1px solid rgb(211, 210, 210);
            border-radius: 10px;
            width: 140px;
            height: 75px;
            padding-left: 16px;
            padding-top: 12px;
            margin-left: 385px;

            p {
                color: #5fcf86;
                font-size: 30px;
                font-weight: 700;
            }

            span {
                margin-top: 15px;
                color: gray;
                font-size: 14px;
            }
        }

        .bons {
            background-color: #ececec;
            border-radius: 10px;
            width: 525px;
            height: 90px;
            margin-top: 10px;
            padding-left: 10px;
            padding-top: 13px;
        }

        .contact {
            margin-top: 10px;

            .sdt {
                display: flex;

                .sdt-child {
                    display: flex;
                    font-size: 12px;
                    background-color: rgb(241, 228, 209);
                    padding-top: 6px;
                    padding-left: 5px;
                    width: 85px;
                    height: 30px;
                    border-radius: 20px;
                    margin-left: 10px;
                }
            }

            .email {
                display: flex;

                .email-child {
                    display: flex;
                    font-size: 12px;
                    background-color: rgb(241, 228, 209);
                    padding-top: 6px;
                    padding-left: 5px;
                    width: 85px;
                    height: 30px;
                    border-radius: 20px;
                    margin-left: 10px;
                }

            }
        }
    }

    .gplx {

        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        padding-left: 20px;
        height: 410px;
        padding-top: 20px;

        .title {
            display: flex;

            .imgs {
                display: flex;
                font-size: 12px;
                background-color: rgb(241, 228, 209);
                padding-top: 6px;
                padding-left: 5px;
                width: 115px;
                height: 30px;
                border-radius: 20px;
                margin-left: 10px;


            }

            .edit {
                display: flex;
                border: 1px solid gray;
                margin-left: 420px;
                height: 48px;
                width: 120px;
                padding: 10px;
                border-radius: 10px;
                font-weight: 500;
            }
        }

        .note {
            background-color: #f0c5c1;
            font-size: 12.5px;
            padding-top: 4px;
            color: red;
            margin-top: 10px;

            border-radius: 10px;
            padding-left: 10px;
            width: 816px;
        }

        .update {
            #inputPassword5 {
                font-size: 15px;
                width: 380px;
            }
        }


        .imageBox {
            position: relative;
            float: left;
            top: 80px;
            left: 160px;
        }

        .imageBox .hoverImg {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }

        .imageBox:hover .hoverImg {
            background-color: rgba(12, 12, 12, .5);
            padding: 90px;
            margin-top: -85px;
            margin-left: -164px;
            border-radius: 15px;
            width: 400px;
            padding-left: 164px;
            height: 230px;
            display: block;
        }

        .imageBox:hover .hoverImg {
            display: block;
        }

    }

    .intro {
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 410px;
        padding-top: 30px;
        padding-left: 20px;

        img {
            border-radius: 20px;
        }

        .title {


            p {
                font-size: 13px;
                color: gray;
            }
        }

    }

    .cards {

        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 500px;
        padding-top: 30px;
        padding-left: 20px;

        .flex-container {
            display: flex;

            p {
                flex-grow: 2;
            }

            .btn {
                background-color: #5fcf86;
                height: 40px;
                margin-right: 20px;
                color: #ececec;
                font-weight: 500;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

        }

        img {
            margin-left: 270px;
        }
    }

    .list-cards {
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 500px;
        padding-top: 30px;
        padding-left: 20px;


        .flex-container {
            display: flex;

            p {
                flex-grow: 2;
            }

            .tax {
                font-size: 20px;
                font-weight: 600;
                margin-right: 20px;


            }

        }

        img {
            margin-left: 270px;
        }
    }

}