.main3 {
    .nav-head {
        .title {
            margin-top: -440px;
            position: absolute;
            right: 400px;

            .first {
                color: rgb(235, 229, 229);
                font-size: 66px;
                font-weight: 500;
            }

            .second {
                width: 300px;
                size: 30px;
                left: 150px;
                position: relative;
                color: white;
            }

            .three {
                color: white;
                font-size: 23px;
                font-weight: 500;
                position: relative;
                right: 100px;

                span {
                    color: #5fcf86;
                }
            }
        }

        .nav-pill {
            height: 100px;
            bottom: 100px;
            position: relative;
            margin-left: 310px;

            .nav-pill-c {
                height: 160px;
                width: 240px;
                text-align: center;
                text-decoration: none;
                box-shadow: 1px 2px 2px 1px #f4f5f4;
                background-color: rgb(219, 218, 218);

                .nav-link {
                    background-color: rgb(219, 218, 218);

                }

                .active {
                    background-color: #5fcf86;
                    border-bottom: 1px solid #5fcf86;
                    color: rgb(90, 88, 88);
                }
            }
        }

    }

    .main-header {
        width: 900px;
        text-align: center;
        position: relative;
        margin-left: 200px;
        bottom: 152px;
        border-radius: 10px;
        height: 130px;
        background-color: #cecbcb;
        box-shadow: 1px 2px 2px 1px #cccecd;

        .tp {
            margin-left: -210px;
            margin-top: 30px;
            font-size: 17px;

        }

    }

    .micar {
        font-size: 20px;
    }

    .long-time {
        margin-top: 110px;
    }

    .title-f {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        div {
            width: 340px;
            margin: 10px;
            text-align: center;
            line-height: 25px;
            font-size: 130px;
        }

        p {
            margin-top: 15px;
            font-size: 16px;

        }
    }

}