.main3 {

    .main-header {
        width: 900px;
        text-align: center;
        position: relative;
        margin-left: 200px;
        bottom: 152px;
        border-radius: 10px;
        height: 130px;
        background-color: #cecbcb;
        box-shadow: 1px 2px 2px 1px #cccecd;

        .tp {
            margin-left: -210px;
            margin-top: 30px;
            font-size: 17px;

        }

    }

    .micar {
        font-size: 20px;
    }

    .long-time {
        margin-top: 110px;
    }

    .title-f {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        div {
            width: 340px;
            margin: 10px;
            text-align: center;
            line-height: 25px;
            font-size: 130px;
        }

        p {
            margin-top: 15px;
            font-size: 16px;

        }
    }

}